<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="shortcut icon" href="/images/webicon.png">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/orderinfo.css">
</head>
<body>
    <h2 class="text-center m-3" id="pg_heading"> No Order Items for Order Id: {{id}} </h2>
</body>
</html>